.banner {
    transition: all 1s ease-in-out;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 4rem;
    border-bottom: 0.1rem solid black;
    align-items: center;
}

.logo {
    display: flex; 
    justify-content: start;
    margin-left: 0.5rem;
    
}

.logo img {
    width: 100%;
    height: 2.5rem;
}

.logo h1 {
    align-content: center;
}

.logoHighlighted {
    color: rgb(129, 155, 0);
}

.searchBarComp {
    width: 40rem;
}

.modeSetterComp {
    display: block;
    margin-right: 0.8rem;
}

.menu {
    display: none;
}

/*Dark Mode*/

.bannerDarkMode {
    transition: all 1s ease-in-out;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 4rem;
    border-bottom: 0.1rem solid white;
    align-items: center;
}

/*Responsiveness*/

@media only screen and (max-width: 884px) {
    .modeSetterComp {
        display: none;
    }

    .menu {
        display: block;
    }

    .searchBarComp {
        width: 28rem;
    }
}

@media only screen and (max-width: 652px) {
    .searchBarComp {
        width: 23rem;
    }
}

@media only screen and (max-width: 579px) {
    .searchBarComp {
        width: 19rem;
    }

    .logo {
        margin-left: 0.3rem;
    }
}

@media only screen and (max-width: 470px) {
    .searchBarComp {
        width: 15rem;
    }
}

@media only screen and (max-width: 390px) {
    .searchBarComp {
        width: 10rem;
    }

    .logo img {
        height: 2rem;
    }
}