.topics {
    display: flex;
    background-color: grey;
    position: sticky;
    top: 3rem;
    padding: 0.2rem 1rem;
    width: 17%;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    font-size: 0.8rem;
}

.topics h4 {
    display: flex;
    text-align: left;
    background-color: aqua;
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem;
}

.topics h4:hover {
    background-color: blue;
    cursor: pointer;
}

.topics h4:active {
    background-color: aliceblue;
}

.mappedMainTopics {
    margin-bottom: 4rem;
}