.topics {
    display: flex;
    position: sticky;
    top: 3rem;
    padding: 0.2rem 1rem;
    width: 17%;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    font-size: 0.8rem;
    scrollbar-width: thin;
    scrollbar-color: rgb(175, 175, 175) rgba(128, 128, 128, 0);
    border-right: 0.1rem solid black;
}

.eachMainTopics {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
}

.eachMainTopics:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}

.eachMainTopics:active {
    background-color: rgb(156, 156, 156);
}


.topicsDropDown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem 1rem 0rem 1rem;
    border-radius: 0.7rem;
}

.topicsDropDown:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}

.mainTopics {
    border-bottom: 0.1rem solid rgb(182, 182, 182);
}

.topicsTitle {
    display: flex;
    align-items: center;
}

.mappedMainTopics {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem; 
}

.eachMainTopics h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

.topicsTitle h3 {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.dropDownArrowUp {
    transition: rotate 0.5s ease-out;
}

.dropDownArrowDown {
    transition: rotate 0.2s ease-out;
    rotate: x -180deg;
}

/*Dark Mode*/

.topicsDarkMode {
    display: flex;
    position: sticky;
    top: 3rem;
    padding: 0.2rem 1rem;
    width: 17%;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    font-size: 0.8rem;
    scrollbar-width: thin;
    scrollbar-color: rgb(175, 175, 175) rgba(128, 128, 128, 0);
    border-right: 0.1rem solid white;
}

.eachMainTopicsDarkMode {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
    margin-bottom: 1rem;
}

.eachMainTopicsDarkMode:hover {
    cursor: pointer;
    background-color: rgb(51, 51, 51);
}

.eachMainTopicsDarkMode:active {
    background-color: rgb(156, 156, 156);
}

.eachMainTopicsDarkMode h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

.topicsDropDownDarkMode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem 1rem 0rem 1rem;
    border-radius: 0.7rem;
}

.topicsDropDownDarkMode:hover {
    cursor: pointer;
    background-color: rgb(51, 51, 51);
}

/*Responsiveness*/

@media only screen and (max-width: 1024px) {
    .topics, .topicsDarkMode {
        padding: 0.2rem 0.5rem;
        width: 30%;
    }

    .eachMainTopics, .eachMainTopicsDarkMode {
        margin: 0.5rem 0.5rem 1rem 0.5rem;
    }

    .topicsDropDown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        margin: 1.5rem 0.5rem 0rem 0.5rem;
        border-radius: 0.7rem;
    }

    .topicsDropDownDarkMode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        margin: 1.5rem 0.5rem 0rem 0.5rem;
        border-radius: 0.7rem;
    }
}

@media only screen and (max-width: 884px) {
    .topics, .topicsDarkMode {
        padding: 0.2rem 0.5rem;
        width: 20%;
    }

    .eachMainTopics, .eachMainTopicsDarkMode {
        margin: 0.5rem 0.5rem 1rem 0.5rem;
    }

    .topicsDropDown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        margin: 1.5rem 0.5rem 0rem 0.5rem;
        border-radius: 0.7rem;
    }
}