.commentsList {
    position: relative;
    top: -3rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 196, 196);
    height: 35rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(226, 226, 226) rgba(196, 196, 196, 0);
    list-style: inside;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.commentsList img, .RepliesList img {
    width: 25rem;
    height: 100%;
}

.headComment {
    text-align: left;
    border-left: 0.1rem solid rgb(133, 133, 133);
    margin: 1rem 7rem;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.commentRepliesDropIcon {
    display: flex;
    align-items: center;
}

.commentRepliesDropIcon:hover {
    cursor: pointer;
}

.commentRepliesDropIcon p {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repliesList {
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 196, 196);
    text-align: left;
    border-left: 0.1rem solid rgb(133, 133, 133);
    margin: 1rem 10rem;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.commentReplies {
    margin-bottom: 1.5rem;
}