.searchSection {
    display: flex;
}

.searchBar {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: rgb(230, 230, 230);
}


.searchButton {
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: none;
    padding: 0.2rem 0.6rem;
    background-color: rgb(230, 230, 230);
}

.searchButton:hover {
    background-color: rgb(216, 216, 216);
}

.searchButton:active {
    background-color: rgb(253, 253, 253);
}