.arrow {
    display: flex;
    color: rgba(0, 0, 0, 0);
    width: 2.1rem;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
}

.arrow:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

.arrow:active {
    width: 1.7rem;
}

.comment {
    width: 1.5rem;
    height: 100%;
    color: rgba(0, 0, 0, 0);
}

.arrow path, .comment path, .search path, .arrowDarkMode path {
    stroke-width: 0.4rem;
}

.arrowDownClicked {
    color: rgb(138, 0, 115);
    display: flex;
    width: 2.1rem;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
}

.arrowDownClicked:hover {
    cursor: pointer;
}

.arrowUpClicked {
    color: rgb(115, 138, 0);
    display: flex;
    width: 2.1rem;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
}

.arrowUpClicked:hover {
    cursor: pointer;
}

.search {
    width: 1.5rem;
    height: 100%;
    color: rgba(0, 0, 0, 0);
}

.search:hover {
    cursor: pointer;
}

.topicIcons {
    color: rgba(0, 0, 0, 0);
    width: 1.4rem;
    height: 100%;
}

.topicIcons path {
    stroke-width: 0.3rem;
}

.topicIconsActive {
    color: black;
}

.pointDown {
    color: rgba(0, 0, 0, 0);
    width: 1rem;
    height: 100%;
}

.pointDown path {
    stroke-width: 0.6rem;
}

.menu {
    width: 2.5rem;
    height: 100%;
    margin-right: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.menu:hover {
    cursor: pointer;
    background-color: rgb(196, 196, 196);
}

.menu:active {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
}

.menuActive {
    background-color: rgb(196, 196, 196);
}


/*Dark Mode*/

.arrowDarkMode {
    display: flex;
    color: rgba(0, 0, 0, 0);
    width: 2.1rem;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
}

.arrowDarkMode:hover {
    cursor: pointer;
    background-color: rgb(27, 27, 27);
}

.arrowDarkMode:active {
    width: 1.7rem;
}

.arrowUpClickedDarkMode {
    color: rgb(115, 138, 0);
    display: flex;
    width: 2.1rem;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
}

.arrowUpClickedDarkMode:hover {
    cursor: pointer;
}

.arrowDownClickedDarkMode {
    color: #973585;
    display: flex;
    width: 2.1rem;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
}

.arrowDownClickedDarkMode:hover {
    cursor: pointer;
}

.topicIconsActiveDarkMode {
    color: rgb(255, 255, 255);
}

.menuDarkMode {
    width: 2.5rem;
    height: 100%;
    margin-right: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.menuDarkMode:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 77);
}

.menuDarkMode:active {
    padding: 0.5rem;
    background-color: rgb(24, 24, 24);
}

.menuActiveDarkMode {
    background-color: rgb(77, 77, 77);
}