.arrow {
    display: flex;
    color: rgba(0, 0, 0, 0);
    width: 2.1rem;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
}

.comment {
    width: 1.5rem;
    height: 100%;
    color: rgba(0, 0, 0, 0);
}

.arrow path, .comment path, .search path {
    stroke-width: 0.4rem;
}

.arrow:hover {
    background-color: rgb(221, 221, 221)
}

.arrow:active {
    width: 1.7rem;
}

.arrowDownClicked {
    color: rgb(138, 0, 115);
    display: flex;
    width: 2.1rem;
    height: 100%;
    padding: 0.4rem;
    border-radius: 50%;
}

.search {
    width: 1.5rem;
    height: 100%;
    color: rgba(0, 0, 0, 0);
}

.search:hover {
    cursor: pointer;
}

/***NEEDED?****/

.topicIcons {
    color: rgba(0, 0, 0, 0);
    width: 1.4rem;
    height: 100%;
}

.topicIcons path {
    stroke-width: 0.2rem;
}

.pointDownIcons {
    transition: rotate 2s;
}

.topicIconsActive {
    color: black;
}

/*Dark Mode*/

.topicIconsActiveDarkMode {
    color: rgb(255, 255, 255);
}