.post {
    background-color: aliceblue;
    height: 100%;
    margin: 1rem;
    padding: 2rem;
    width: 60rem;
    justify-items: center;
    border-bottom: 0.01rem solid rgb(177, 177, 177);
    border-radius: 2rem;
}

.media img {
    width: 20rem;
    height: 100%;
}

.media video {
    width: 100%;
    height: 100%;
}

.richVideo {
    display: flex;
    flex-direction: column;
}

.richVideo img {
    margin-bottom: 1rem;
}

.postHeader, .postBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.postHeader h4, .scoreAndComments div {
    align-content: center;
}

.scoreAndComments {
    display: flex;
    justify-content: space-between;
    width:23rem;
}

.scoreAndArrows {
    display: flex;
    justify-content: space-around;
    width: 7rem;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 2rem;
    height: 2.5rem;
}

