.post {
    background-color: bisque;
    height: 100%;
    margin: 1rem;
    padding: 2rem;
    width: 70rem;
    justify-items: center;
}

.media img {
    width: 30rem;
    height: 100%;
}

.media video {
    width: 100%;
    height: 14rem;
}

.richVideo {
    display: flex;
    flex-direction: column;
}

.richVideo img {
    margin-bottom: 1rem;
}

.postHeader, .postBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.postHeader h4 {
    align-content: center;
}
